* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 15px;
}

header {
    color: blue; 
    height: 50px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
  
}

#searchContainer {
    margin-left: 15px;
    margin-top:0;
    background-color: blue;
    padding-bottom: 15px;
}
#searchTitle {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}